@charset "utf-8";
/* CSS Document */
p {
    color: lightblue;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	color: darkgray; background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
}
.mult {
color: white;
	-webkit-text-stroke: 2px darkred;
	font-size: 40px;	
}
.slikice {
color: white;
	-webkit-text-stroke: 2px darkcyan;
	font-size: 40px;	
}
.naslovic {
	color: white;
	-webkit-text-stroke: 2px darkgreen;
	font-size: 60px;
}
.paragraf_2 {color: darkblue; background-color: rgba(255, 255, 255, 0.7)}
.novi_block {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h1 {
	font-family:Gothan, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: darkred;
}
h2 {
	font-family: Gothan, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: darkgreen;
}
h3 {
	font-family: Gothan, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: darkcyan;
}
.moj-mark {
  background-color: rgba(255, 255, 0, 0.2);
  color: darkblue;
 }
.lala {
	background-color: rgba(255, 255, 255, 1);
}
span {color: darkgreen;}
.pozadina {
	background-image: url("slike/fuca.jpg");
	background-color: darkgray;
}
.pozadinica{
	background-image: url("slike/futsal.jpg")
}
.drugapozadina{
	background-color: lightblue;
}
.boja{
	color: white;
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover {
	background-color: lightblue;
}
img {
	height: 200px;
}